/* h2{
    text-align: center;
}

.people_list{
    width: 400px;
    margin: 40px auto;
    padding:20px;
    border:1px solid #eee;

}
.people_list li{

    height: 50px;
    line-height: 50px;
   

}
.people_list li  .fonm_input{
    width: 300px;
    height: 28px;
}
.people_list .submit{
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 50px;
    margin-top:120px;
    
} */